<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ND.FlightKGService.TaskPlatformCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--记录上次上传记录目录path-->
    <add key="LogRecPath" value="C:\\ND\\ND.Log\\" />
  </appSettings>
  <!--配置字符串-->
  <connectionStrings>
    <add name="agencyCode" connectionString="ZZYJKCSHJ" />
    <add name="safetyCode" connectionString="HH2Dsaj8" />
    <add name="ConnectionEncryptStr" connectionString="false" />
    <add name="ConnStr" connectionString="Server=192.168.1.104;Database=FlightDB;uid=FlightDBUser;pwd=FLIGHT456db!@#f;"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ND.FlightKGService.TaskPlatformCore.Properties.Settings>
      <setting name="ND_FlightKGService_TaskPlatformCore_w_51book_getModifyAndRefundStipulates_GetModifyAndRefundStipulatesServiceImpl_1_0Service"
        serializeAs="String">
        <value>http://ws.51book.com:8000//ltips/services/getModifyAndRefundStipulatesService1.0</value>
      </setting>
    </ND.FlightKGService.TaskPlatformCore.Properties.Settings>
  </applicationSettings>
</configuration>